.frame1, .frame2, .frame3, .frame4 {
    border: 2px solid #4ce4ff;
    box-shadow: 0 0 5px #4ce4ff, 0 0 10px #4ce4ff;
    background-color: #4d4d4d;
    border-radius: 10px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
}

.frame1 {
    width: 80%;
    height: 31.5%;
    top: 22.5%;
    left: 10%;
}

.frame2 {
    width: 80%;
    height: 31.5%;
    top: 58.5%;
    left: 10%;
}

.frame3 {
    width: 80%;
    height: 31.5%;
    top: 94.5%;
    left: 10%;
}

.frame4 {
    width: 80%;
    height: 63%;
    top: 130.5%;
    left: 10%;
}
