.Pyramid3D-image {
    width: 200px;
    height: 200px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    top: 270px;
    left: 223px;
    z-index: 20;
}

.frame-pyramid3D {
    width: 362px;
    height: 203px;
    border: 3px solid black;
    position: absolute;
    top: 270px;
    left: 220px;
    z-index: 20;
    box-sizing: border-box;
}

/* ---------------------------------------------------------------------------- */

.Pyramid2D-image {
    width: 200px;
    height: 200px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    top: 670px;
    left: 223px;
    z-index: 20;
}

.frame-pyramid2D {
    width: 362px;
    height: 203px;
    border: 3px solid black;
    position: absolute;
    top: 670px;
    left: 220px;
    z-index: 20;
    box-sizing: border-box;
}


/* ---------------------------------------------------------------------------- */

.Speed-image {
    width: 200px;
    height: 200px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    top: 1070px;
    left: 223px;
    z-index: 20;
}

.frame-speed {
    width: 362px;
    height: 203px;
    border: 3px solid black;
    position: absolute;
    top: 1070px;
    left: 220px;
    z-index: 20;
    box-sizing: border-box;
}

/* ---------------------------------------------------------------------------- */

/* Cube-image et frame-cube */
.Cube-image {
    width: 300px;
    height: 300px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    top: 1800px;
    left: 693px;
    z-index: 20;
}

.frame-cube {
    width: 539px;
    height: 303px;
    border: 3px solid black;
    position: absolute;
    top: 1800px;
    left: 690px;
    z-index: 20;
    box-sizing: border-box;
}