.DBC-French, .DBC-Deutsch, .DBC-日本語, .DBC-Polski, .DBC-Русский, 
.DBC-Türkçe, .DBC-Español, .DBC-Português, .DBC-Svenska, .DBC-中文, .DBC-ภาษาไทย {
    width: 13.5%;
    height: 6%;
    display: flex;
    position: absolute;
    background-color: #4d4d4d;
    border: 4px solid #1b1b1b;
    top: 1%;
    left: 80.5%;
    transform: translateY(0);
    transition: transform 0.5s ease;
    justify-content: center;
    align-items: center;
}

.DBC-English {
    width: 10%;
    height: 6%;
    display: flex;
    position: absolute;
    background-color: #4d4d4d;
    border: 4px solid #1b1b1b;
    top: 1%;
    left: 84%;
    transform: translateY(0);
    justify-content: center;
    align-items: center;
}

.languages_menu {
    width: 4%;
    height: 6%;
    display: flex;
    position: absolute;
    background-color: #4d4d4d;
    border: 4px solid #1b1b1b;
    top: 1%;
    left: 80.5%;
    z-index: 40;
    cursor: pointer;
}

.languages_menu:hover, .DBC-French:hover, .DBC-Deutsch:hover, .DBC-日本語:hover, .DBC-Polski:hover, .DBC-Русский:hover, .DBC-Türkçe:hover,
.DBC-Español:hover, .DBC-Português:hover, .DBC-Svenska:hover, .DBC-中文:hover, .DBC-ภาษาไทย:hover {
    background-color: #5e5e5e;
}

.French-text, .Deutsch-text, .日本語-text, .Polski-text, .Русский-text, .Türkçe-text, 
.Español-text, .Português-text, .Svenska-text, .中文-text, .ภาษาไทย-text {
    position: relative;
    color: white;
    font-size: 30px;
    pointer-events: none;
    transition: transform 0.5s ease;
    text-align: center;
    width: 100%;
}

.English-text {
    position: absolute;
    color: white;
    font-size: 30px;
    pointer-events: none;
    z-index: 40;
    cursor: pointer;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.languages_selection {
    position: absolute;
    color: white;
    font-size: 20px;
    z-index: 40;
    user-select: none;
    pointer-events: none;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
    transition: transform 0.5s ease;
}

.languages_selection.rotate {
    transform: translate(-20%, -50%) rotate(180deg);
}

.DBC-English { z-index: 35; }
.DBC-French { z-index: 30; }
.DBC-Deutsch { z-index: 29; }
.DBC-日本語 { z-index: 28; }
.DBC-Polski { z-index: 27; }
.DBC-Русский { z-index: 26; }
.DBC-Türkçe { z-index: 25; }
.DBC-Español { z-index: 24; }
.DBC-Português { z-index: 23; }
.DBC-Svenska { z-index: 22; }
.DBC-中文 { z-index: 21; }
.DBC-ภาษาไทย { z-index: 20; }

.DBC-French.animate { transform: translateY(90%); }
.DBC-Deutsch.animate { transform: translateY(180%); }
.DBC-日本語.animate { transform: translateY(270%); }
.DBC-Polski.animate { transform: translateY(360%); }
.DBC-Русский.animate { transform: translateY(450%); }
.DBC-Türkçe.animate { transform: translateY(540%); }
.DBC-Español.animate { transform: translateY(630%); }
.DBC-Português.animate { transform: translateY(720%); }
.DBC-Svenska.animate { transform: translateY(810%); }
.DBC-中文.animate { transform: translateY(900%); }
.DBC-ภาษาไทย.animate { transform: translateY(990%); }