/* Affiche le menu carré des langues */
.languages_menu {
    width: 80px;
    height: 70px;
    display: flex;
    position: absolute;
    background-color: #4d4d4d;
    border: 4px solid #1b1b1b;
    top: 10px;
    left: 1550px;
    z-index: 40;
    cursor: pointer;
}

/* Changement de couleur premier cadre */
.languages_menu:hover {
    background-color: #5e5e5e;
}

/* Affiche le premier cadre des langues */
.languages {
    width: 260px;
    height: 70px;
    display: flex;
    position: absolute;
    background-color: #4d4d4d;
    border: 4px solid #1b1b1b;
    top: 10px;
    left: 1550px;
    z-index: 35;
}

/* Affiche le premier texte des langues */
.languages-text {
    position: absolute;
    font-size: 30px;
    top: 27px;
    left: 1668px;
    z-index: 40;
    cursor: pointer;
    pointer-events: none;
}

/* Affiche le sélectionneur déroulant des langues */
.Selection1 {
    position: absolute;
    font-size: 20px;
    top: 33px;
    left: 1600px;
    z-index: 40;
    user-select: none;
    pointer-events: none;
}

/* Affiche le drapeau de la langue choisie */
.Selection2 {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 37px;
    left: 1565px;
    z-index: 40;
    pointer-events: none;
}

/* -------------------------------------------------------------------------------------------------------------------------- */

/* Affiche le deuxième cadre des langues */
.DBC-French {
    width: 260px;
    height: 70px;
    display: flex;
    position: absolute;
    background-color: #4d4d4d;
    border: 4px solid #1b1b1b;
    top: 10px;
    left: 1550px;
    z-index: 30;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

/* Animation du deuxième cadre */
.DBC-French.animate {
    transform: translateY(66px);
}

.DBC-French:hover {
    background-color: #5e5e5e;
}

/* Affiche le deuxième texte des langues */
.French-text {
    position: absolute;
    font-size: 30px;
    top: 26px;
    left: 1623px;
    pointer-events: none;
    z-index: 30;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

/* Animation du deuxième texte des langues */
.French-text.animate {
    transform: translateY(66px);
}

/* Affichage du deuxième drapeau */
.Selection3 {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -20px;
    left: 1667px;
    pointer-events: none;
    z-index: 30;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

/* Animation du deuxième drapeau */
.Selection3 {
    transform: translateY(66px);
}

/* -------------------------------------------------------------------------------------------------------------------------- */

/* Affichage du troisième cadre des langues */
.DBC-Deutsch {
    width: 260px;
    height: 70px;
    display: flex;
    position: absolute;
    background-color: #4d4d4d;
    border: 4px solid #1b1b1b;
    top: 10px;
    left: 1550px;
    z-index: 29;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

/* Animation du troisième cadre des langues */
.DBC-Deutsch.animate {
    transform: translateY(132px);
}

.DBC-Deutsch:hover {
    background-color: #5e5e5e;
}

/* Affichage du troisième texte des langues */
.Deutsch-text {
    position: absolute;
    font-size: 30px;
    top: 28px;
    left: 1625px;
    pointer-events: none;
    z-index: 29;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

/* Animation du troisième cadre des langues */
.Deutsch-text.animate {
    transform: translateY(132px);
}

/* -------------------------------------------------------------------------------------------------------------------------- */

/* Affichage du quatrième cadre des langues */
.DBC-日本語 {
    width: 260px;
    height: 70px;
    display: flex;
    position: absolute;
    background-color: #4d4d4d;
    border: 4px solid #1b1b1b;
    top: 10px;
    left: 1550px;
    z-index: 28;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

/* Animation du quatrième cadre des langues */
.DBC-日本語.animate {
    transform: translateY(198px);
}

.DBC-日本語:hover {
    background-color: #5e5e5e;
}

/* Affichage du quatrième texte des langues */
.日本語-text {
    position: absolute;
    font-size: 30px;
    top: 24px;
    left: 1635px;
    pointer-events: none;
    z-index: 28;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

/* Animation du quatrième cadre des langues */
.日本語-text.animate {
    transform: translateY(198px);
}

/* -------------------------------------------------------------------------------------------------------------------------- */

.DBC-Polski {
    width: 260px;
    height: 70px;
    display: flex;
    position: absolute;
    background-color: #4d4d4d;
    border: 4px solid #1b1b1b;
    top: 10px;
    left: 1550px;
    z-index: 27;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

/* Animation du quatrième cadre des langues */
.DBC-Polski.animate {
    transform: translateY(264px);
}

.DBC-Polski:hover {
    background-color: #5e5e5e;
}

.Polski-text {
    position: absolute;
    font-size: 30px;
    top: 28px;
    left: 1640px;
    pointer-events: none;
    z-index: 27;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

/* Animation du quatrième cadre des langues */
.Polski-text.animate {
    transform: translateY(264px);
}

/* -------------------------------------------------------------------------------------------------------------------------- */

.DBC-Русский {
    width: 260px;
    height: 70px;
    display: flex;
    position: absolute;
    background-color: #4d4d4d;
    border: 4px solid #1b1b1b;
    top: 10px;
    left: 1550px;
    z-index: 26;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

/* Animation du quatrième cadre des langues */
.DBC-Русский.animate {
    transform: translateY(330px);
}

.DBC-Русский:hover {
    background-color: #5e5e5e;
}

.Русский-text {
    position: absolute;
    font-size: 30px;
    top: 27px;
    left: 1627px;
    pointer-events: none;
    z-index: 26;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

/* Animation du quatrième cadre des langues */
.Русский-text.animate {
    transform: translateY(330px);
}

/* -------------------------------------------------------------------------------------------------------------------------- */

.DBC-Türkçe {
    width: 260px;
    height: 70px;
    display: flex;
    position: absolute;
    background-color: #4d4d4d;
    border: 4px solid #1b1b1b;
    top: 10px;
    left: 1550px;
    z-index: 25;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

/* Animation du quatrième cadre des langues */
.DBC-Türkçe.animate {
    transform: translateY(396px);
}

.DBC-Türkçe:hover {
    background-color: #5e5e5e;
}

.Türkçe-text {
    position: absolute;
    font-size: 30px;
    top: 28px;
    left: 1637px;
    pointer-events: none;
    z-index: 25;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

/* Animation du quatrième cadre des langues */
.Türkçe-text.animate {
    transform: translateY(396px);
}

/* -------------------------------------------------------------------------------------------------------------------------- */

.DBC-Español {
    width: 260px;
    height: 70px;
    display: flex;
    position: absolute;
    background-color: #4d4d4d;
    border: 4px solid #1b1b1b;
    top: 10px;
    left: 1550px;
    z-index: 24;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

/* Animation du quatrième cadre des langues */
.DBC-Español.animate {
    transform: translateY(462px);
}

.DBC-Español:hover {
    background-color: #5e5e5e;
}

.Español-text {
    position: absolute;
    font-size: 30px;
    top: 27px;
    left: 1630px;
    pointer-events: none;
    z-index: 24;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

/* Animation du quatrième cadre des langues */
.Español-text.animate {
    transform: translateY(462px);
}

/* -------------------------------------------------------------------------------------------------------------------------- */

.DBC-Português {
    width: 260px;
    height: 70px;
    display: flex;
    position: absolute;
    background-color: #4d4d4d;
    border: 4px solid #1b1b1b;
    top: 10px;
    left: 1550px;
    z-index: 23;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

/* Animation du quatrième cadre des langues */
.DBC-Português.animate {
    transform: translateY(528px);
}

.DBC-Português:hover {
    background-color: #5e5e5e;
}

.Português-text {
    position: absolute;
    font-size: 30px;
    top: 26px;
    left: 1615px;
    pointer-events: none;
    z-index: 23;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

/* Animation du quatrième cadre des langues */
.Português-text.animate {
    transform: translateY(528px);
}

/* -------------------------------------------------------------------------------------------------------------------------- */

.DBC-Svenska {
    width: 260px;
    height: 70px;
    display: flex;
    position: absolute;
    background-color: #4d4d4d;
    border: 4px solid #1b1b1b;
    top: 10px;
    left: 1550px;
    z-index: 22;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

/* Animation du quatrième cadre des langues */
.DBC-Svenska.animate {
    transform: translateY(594px);
}

.DBC-Svenska:hover {
    background-color: #5e5e5e;
}

.Svenska-text {
    position: absolute;
    font-size: 30px;
    top: 26px;
    left: 1626px;
    pointer-events: none;
    z-index: 22;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

/* Animation du quatrième cadre des langues */
.Svenska-text.animate {
    transform: translateY(594px);
}

/* -------------------------------------------------------------------------------------------------------------------------- */

.DBC-中文 {
    width: 260px;
    height: 70px;
    display: flex;
    position: absolute;
    background-color: #4d4d4d;
    border: 4px solid #1b1b1b;
    top: 10px;
    left: 1550px;
    z-index: 21;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

/* Animation du quatrième cadre des langues */
.DBC-中文.animate {
    transform: translateY(660px);
}

.DBC-中文:hover {
    background-color: #5e5e5e;
}

.中文-text {
    position: absolute;
    font-size: 30px;
    top: 24px;
    left: 1653px;
    pointer-events: none;
    z-index: 21;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

/* Animation du quatrième cadre des langues */
.中文-text.animate {
    transform: translateY(660px);
}

/* -------------------------------------------------------------------------------------------------------------------------- */

.DBC-ภาษาไทย {
    width: 260px;
    height: 70px;
    display: flex;
    position: absolute;
    background-color: #4d4d4d;
    border: 4px solid #1b1b1b;
    top: 10px;
    left: 1550px;
    z-index: 20;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

/* Animation du quatrième cadre des langues */
.DBC-ภาษาไทย.animate {
    transform: translateY(726px);
}

.DBC-ภาษาไทย:hover {
    background-color: #5e5e5e;
}

.ภาษาไทย-text {
    position: absolute;
    font-size: 30px;
    top: 24px;
    left: 1619px;
    pointer-events: none;
    z-index: 20;
    transform: translateY(0);
    transition: transform 0.5s ease;
}

/* Animation du quatrième cadre des langues */
.ภาษาไทย-text.animate {
    transform: translateY(726px);
}