#height {
    width: 260px;
    height: 80px;
    font-size: 45px;
    background-color: #c9c9c9;
    color: rgb(41, 41, 41);
    border-radius: 5px;
    border-color: #242424;
    padding: 5px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    top: 110px;
    left: 1225px;
}

#height::-webkit-inner-spin-button,
#height::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

/* Pour Firefox */
#height {
    -moz-appearance: textfield; /* 10x 20x 33 = 6600 dominoes */
}