.frame1 {
    border: 2px solid #4ce4ff;
    box-shadow: 0 0 5px #4ce4ff, 0 0 10px #4ce4ff;
    background-color: #4d4d4d;
    border-radius: 10px;
    width: 1520px;
    height: 350px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    top: 250px;
    left: 200px;
}

.frame2 {
    border: 2px solid #4ce4ff;
    box-shadow: 0 0 5px #4ce4ff, 0 0 10px #4ce4ff;
    background-color: #4d4d4d;
    border-radius: 10px;
    width: 1520px;
    height: 350px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    top: 650px;
    left: 200px;
}

.frame3 {
    border: 2px solid #4ce4ff;
    box-shadow: 0 0 5px #4ce4ff, 0 0 10px #4ce4ff;
    background-color: #4d4d4d;
    border-radius: 10px;
    width: 1520px;
    height: 350px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    top: 1050px;
    left: 200px;
}

.frame4 {
    border: 2px solid #4ce4ff;
    box-shadow: 0 0 5px #4ce4ff, 0 0 10px #4ce4ff;
    background-color: #4d4d4d;
    border-radius: 10px;
    width: 1520px;
    height: 685px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    top: 1450px;
    left: 200px;
}
